<?xml version="1.0" encoding="utf-8"?>
<LanguageData>

  <BBLK_Firefly_Bite.label>firefly bite</BBLK_Firefly_Bite.label>
  <BBLK_Firefly_Bite.labelNoun>a firefly bite</BBLK_Firefly_Bite.labelNoun>
  <BBLK_Firefly_Bite.description>A firefly bite, freaking rim man.</BBLK_Firefly_Bite.description>

</LanguageData>
